[Unit]
Description=Boskicar Server
After=syslog.target

[Service]
Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
Environment="JAVA_OPTS=-Xmx64m -Xss256k -Dpi4j.linking=dynamic"
Environment="LOG_FOLDER=/var/log/boskicar"

User=root
ExecStart=/usr/local/bin/bcarserver.jar 
SuccessExitStatus=143
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
